<div class="table-settings controls-setting">
  <div class="table-settings_desc">Навигация по таблице</div>
  <div class="table-settings_controls">
    <label class="table-settings_item" *ngFor="let control of controlsOptions">
      <input class="table-settings_item_input" type="checkbox" [(ngModel)]="control.enable" [ngModelOptions]="{standalone: true}"/>
      <span class="table-settings_item_label">{{ control.label }}</span>
    </label>
  </div>
</div>

<div class="table-settings fields-setting">
  <div class="table-settings_desc">Отображаемые поля</div>
  <div class="table-settings_controls">
    <label class="table-settings_item" *ngFor="let field of fieldsOptions">
      <input type="checkbox" [(ngModel)]="field.enable"
             class="table-settings_item_input"
             (change)="applyFieldsList()" [ngModelOptions]="{standalone: true}"/>
      <span class="table-settings_item_label">{{ field.labelForLegend || field.label }}</span>
    </label>
  </div>
</div>


<ngd-smart-table
  *ngIf="tableFieldsOptions"
  (clickTableItem)="clickTableItem($event)"
  [controlsOptions]="tableControlsOptions"
  [paginationOptions]="tablePageSizes"
  [fieldsOptions]="tableFieldsOptions" [dataUrl]="dataUrl"></ngd-smart-table>

