.table-settings {
  font-family: Arial, serif;
  padding: 10px 0;
  &_controls {
    margin-top: 5px;
  }
  &_item {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    margin-right: 10px;
  }

  & + & {
    border-top: 1px solid #444;
  }
}
